body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--bg-color);
  transition: background-color 0.3s ease-in-out;
}

:root {
  --bg-color: #fff;
  --calc-bg-color: #fff;
  --display-bg-color: #e0e0e0;
  --btn-bg-color: #e0e0e0;
  --btn-hover-bg-color: #ccc;
  --btn-text-color: #000;
  --symbol-color: #0080ff;
}

#calculator {
  background-color: var(--calc-bg-color);
  border-radius: 15px;
  padding: 2vh;
  box-shadow: 0 2vh 5vh rgba(0, 0, 0, 0.3);
  width: 80vw;
  height: 80vh;
}

#display {
  font-size: 10vh;
  padding: 2vh;
  text-align: right;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--display-bg-color);
  color: var(--btn-text-color);
  border-radius: 10px;
  overflow: hidden;
}

.btn-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1vh;
}

.btn {
  font-size: 8vh;
  padding: 1vh;
  background-color: var(--btn-bg-color);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: var(--btn-text-color);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn:hover {
  background-color: var(--btn-hover-bg-color);
}

.s-btn-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1vh;
}

.s-btn {
  font-size: 8vh;
  padding: 1vh;
  background-color: var(--btn-bg-color);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: var(--btn-text-color);
  margin-bottom: 2vh;
  margin-top: 2vh;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

#symbol {
  background-color: #0080ff;
  color: white;
}