.calculator {
  width: 340px;
  margin: 50px auto;
  padding: 10px;
  border: 1px solid #d2d2d2;
  border-radius: 10px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
  width: 90%;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 48px;
  text-align: right;
  height: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 480px) {
  input[type="text"] {
    font-size: 32px;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 0;
}

button {
  width: 79px;
  height: 79px;
  margin: 1px;
  font-size: 28px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  color: #333;
}

button.operator {
  background-color: #f1f1f1;
  color: #666;
}

button.clear {
  background-color: #f5f5f5;
  color: #666;
}

button.equal {
  background-color: #34b7f1;
  color: #fff;
}

button:hover {
  background-color: #e2e2e2;
}

button:active {
  background-color: #cccccc;
}

.button-zero {
  width: 162px;
}